* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

div.header {
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    background: #1F2937;
}

.header .header-text {
    flex-shrink: 0;
    font-size: 24px;
}

ul.header-links {
    display: inline-flex;
    flex-shrink: 0;
    gap: 15px;
    list-style: none;
}

.subtext,
ul.header-links a {
    color: #E5E7EB;
    font-size: 18px;
}

button, div.header-text {
    color: #F9FAF8;
    font-weight: bold;
}

button {
    background-color: #3882F6;
    padding: 6px 20px;
    border-radius: 5px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    gap: 80px;
    padding: 100px 0;
}

.hero-main {
    flex-basis: 25%;
}

.hero-main .title {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
}

.hero-main button {
    margin-top: 1%;
}

.placeholder-img {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    padding: 100px 150px;
    background-color: grey;
    color: white;
}

.information {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 120px;
}

.info-header {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-bottom: 3%;
}

.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    gap: 100px;
}

.info-box .info {
    border: 2px solid #3882F6;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    margin-bottom: 5%;
}

.info-box .subtext {
    text-align: center;
    max-width: 260px;
    color: rgb(118, 115, 115);
}

.quote {
    display: flex;
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-author {
    font-size: 18px;
    font-weight: bold;
}