* {
    line-height: 1.5;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    flex-direction: column;
}

a {
    text-decoration: none;
}

div.header {
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background: #1F2937;
}

div.header-text {
    font-weight: bold;
    color: #F9FAF8;
    font-size: 24px;
}

ul.header-links {
    display: inline-flex;
    gap: 15px;
    list-style: none;
}

ul.header-links a { /* Add information subtext class selector later */
    color: #E5E7EB;
    font-size: 18px;
}

.title {
    font-weight: bolder;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
}

div.hero {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    background-color: #1F2937;
}

.hero-main {
    border: 2px solid black;
}

.hero-main .title {
    font-size: 48px;
}

.hero-main .subtext {
    color: #F9FAF8;
}

.hero-main button { /* Add call to action button class selector later */
    background-color: #3882F6;
}


.placeholder-img {
    border: 2px solid black;
}



